.navbar {background-color: white;
font-size: 12px;}

body {background-color: whitesmoke;}

.body-box {
  background-color: white;
  margin:5px;
}

.bordered{
  border: 1px;
  border-style: solid;
  border-color: lightseagreen;
}

h1{
  color: lightseagreen;
  font-family: times;
  font-weight: bold;
  padding: 10px;
}

.soft-link{
  font-size: 16px;
  line-height: 200%;
}

.soft-text{
  color:gray;
  font-size: 16px;
  line-height: 200%;
}

.small-img{
  width:50%;
  float:left;
}

.large-img{
  width:100%;
}

.side-graph{
  width:49%;
  padding: 2px;
  display: inline-block;
}

footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: dimgray;
  color:white;
  text-align: center;
  border-top: 10px lightseagreen solid;
  padding:5px;
}

/* .navbar li {
  display: inline-block;
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  background: #fff;
  border-radius: 3px;
} */


.brandhead {background-color: lightseagreen;
font-size:30px;
font-weight: bold;
cursor: pointer;}

.brandhead a{color:white;}


.nav ul{margin:0;}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  cursor: pointer;
  color: #909090;
  font-size: 12px;
  border: none;
  outline: none;
  padding-top: 17px;
  padding-bottom: 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a 25% grey background color to navbar links on hover */
.navbar a:hover, .dropdown:hover, .dropbtn, .dropbtn:focus {
  background-color: #C0C0C0;
  color: black;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on click */
.show {
  display: block;
}


@media (max-width: 992px) {
.small-img{
    width:40%;
    float:left;
}

footer{
  display:none;
}

.side-graph{
  width:24%;
  padding: 2px;
  display: inline-block;
}

}
